# آي دي البوت (Client ID) من Developer Portal
CLIENT_ID= 1476721179283685376

# توكن البوت من https://discord.com/developers/applications
DISCORD_TOKEN=
# آي دي السيرفر (Guild ID)
GUILD_ID= 1367976354104086629

# آي دي الأونر (صلاحيات كاملة + تجاوز الحماية)
OWNER_ID= 1058107732584050879
